{% extends "index.html" %} {% block title %}Account Home{% endblock %} {% block content
%}
<div class="row p-3">
    <!-- HOME PAGE USER detail -->
    <div class="col">
        <div class="col rounded-circle mt-0">
            {% if user.photo_user %}
            <img src="{{ url_for('static', filename='images/'+ user.id|string + '/' + user.photo_user )}}"alt="error loading user image"  class="mb-2 rounded-circle" style="height:10em;width:6em;"></img>
            {% else %}
            <img src="{{ url_for('static', filename='ico/user.svg' )}}"alt="error loading user image"  class="mb-2 rounded-circle" style="height:10em;width:6em;"></img>
            {% endif %}
        </div>

        <div class="row">
            <h1>Account</h1>
        </div>
        
        <div class="row">
            <h4>Username :<br> {{user.username}}</h4>
        </div><br>
        
        <button class="btn  ms-3 border border-success-subtle bg-success bg-opacity-10" style="color:bisque" type="button" data-bs-toggle="offcanvas" data-bs-target="#userSetting" aria-controls="offcanvasBottom">User settings</button>        
   
    </div>
   <!-- CART AREA DIV -->
    <div class="col" style="display:none" id="cart_div">
        <div class="row">
            <h2 align="center">Cart</h2>
        </div>
        <div class="row">
            <div class="col p-3">      <!-- cart table-->
                <div class="row shadow">
                    <table class="table shadow tb" title="Your cart">
                        <thead>
                            <tr class="shadow">
                                <td><b>Product</b></td>
                                <td><b>Quantity</b></td>
                                <td><b>Cost</b></td>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% if cart %}
                            {% for i in cart %}
                            <tr>
                                <td>{{ i['product']['product_name'][:10] }}</td>
                                <td>{{ i['quantity'] }}</td>
                                <td>{{ i['quantity']*i['product']['product_price'] }}</td>
                            </tr>    
                            {% else %}
                            <tr>
                                <td colspan="3" style="text-align:center;"><h4>{% print('empty') %}</h4></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
        
                <div class="row shadow">      <!-- open set data order field  -->
                    <button onclick="myShow()" class="btn p-2 btn-outline-success btn-lg shadow" style="width:100%" ><b>Insert order data</b></button>
        
                </div>
            </div>
        </div>
    
    </div>  
    
   
</div>  
<!-- CART INSERT DETAIL DIV -->
{% if cart %}
<div class="col p-1 shadow" id="in_data_row" style="display:none;text-align: center;">
    <form method="POST" enctype="multipart/form-data">

        <h3 >Order data</h3>
        
        
        <div class="row p-1" >
            <!-- CART IN ADDRESS SHIPMENT -->
            <div class="col-auto">
                
                <label for="order_address" class="fs-5">Write here your address for thw shipment:</label>
                <input
                    type="text"
                    class="form-control border border-primary"
                    id="order_address"
                    name="order_address"
                    placeholder="Enter your order details..."
                    style="font-size:1em;"
                />
            </div>
            {% for i in cart%}
            <div class="row">
                <!-- CART HIDDEN DETAILS -->
                <div class="row">
                    <input type="hidden" name="order_id" id="order_id" value="{{ i.product.product_id }}">
                    <!--<input type="hidden" name="order_qnt" id="order_qnt" value="{{ i['quantity'] }}">-->
                </div>
                <!-- CART IN FILES -->
                {% if i.product.product_require_file %}
                <div class="col-auto p-5 my-0 py-0">
                    <label for="file-{{ i.product.product_id }}" class="fs-6">file needed for:<br> {{ i.product.product_name[:10]}}</label>
                    <input type="file" name="file-{{i.product.product_id}}" id="file-{{i.product.product_id}}" class="btn-primary"style="width:4.8em"><br>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>    
        
        <hr class="shadow-lg" style="height:1px; background-color:blue;"> 
        <!-- CART IN EMAIL -->
        <div class="row px-3 " id="email_d" style="justify-content:left;">
            <label for="order_email">Write here an email where receive seller contact:</label>
            <input type="email" name="order_email_field" id="order_email_field" class="form-control-lg border border-primary" >
        </div>
        <!-- CART IN PHONE NUMBER -->
        <div class="row px-3 " style="justify-content:left;">
            <label for="order_tel">Write here aphone number where receive seller contact:</label>
            <input type="tel" name="order_tel" id="order_tel" class="form-control-lg border border-primary" >
        </div>
        <div class="card border-success m-3 p-3 bg-base" id="pay_data">
        
            <!-- CART ORDER UNICODE -->
            <h5 class="tb font">Num shipment</h5>
            <textarea name="order_pin" id="order_pin" cols="22" class="form-control-lg border border-primary" ></textarea>
            <!-- CART IN WALLET -->
            <div class="input-group mt-3">
                
                <textarea id="order_wallet" name="order_wallet" class="form-control" placeholder="Wallet address" aria-label="Recipient's username" aria-describedby="button-addon2"></textarea>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
        <input type="submit" name="register" id="register" value="Submit order" class="btn p-3 btn-outline-success ms-5 w-50 shadow">
        
    </form>

</div>

{% endif %}


{%block infoBuyed %}{% endblock %}
{%block infoSelled %}{% endblock %}
{%block infoProduct %}{% endblock %}
{%block authenticate_view %}{% endblock %}


<script type="text/javascript" src="{{ url_for('static', filename='show.js')}}">     
</script>
{% endblock %}




