{% extends "index.html" %} {% block title %}Account Home{% endblock %} {% block content
%}
<div class="row p-3">
    <div class="col">
        <div class="row">
            <h1>Account</h1>
        </div>
        
        <div class="row">
            <h4>Username : {{user.username}}</h4>
        </div><br>
        <div class="row p-2">
            <a href="{{ url_for('change_log.changelog') }}" class="shadow btn p-2 btn btn-outline-danger"><b class="fw-bolder"> Change Password</b></a>
        </div>
        <div class="row p-2">
            <button onclick="show_cart()" class="shadow btn p-2 btn btn-outline-info"><b class="fw-bolder">Cart</b></button>
        </div>
        <div class="row p-2">
            <a href="{{ url_for('utils.product') }}" class="shadow btn p-2 btn btn-outline-warning"><b class="fw-bolder">Create Product</b></a>
        </div>
        <div class="row p-2">
            <button onclick="show_product_list()" class="shadow btn p-2 btn btn-outline-success"><b class="fw-bolder">Your Products</b></button>
        </div>
            
           
        
    </div>
    

    <!-- CART DIV-->
    <div class="col" style="display:none" id="cart_div">
        <div class="row">
            <h2 align="center">Cart</h2>
        </div>
        <div class="row">
            <div class="col p-3">      <!-- cart table-->
                <div class="row shadow">
                    <table class="table shadow tb" title="Your orders">
                        <thead>
                            <tr class="shadow">
                                <td><b>Product</b></td>
                                <td><b>Cost</b></td>
                                <td><b>Stuck</b></td>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for i in orders %}
                            <tr>
                                <td>{{ i['PRODUCT']}}</td>
                                <td>{{ i['COST']}}</td>
                                <td>{{ i['QUANTITY']}}</td>
                            </tr>    
                            {% else %}
                            <tr>
                                <td colspan="3" style="text-align:center;"><h4>{% print('empty') %}</h4></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <div class="row shadow">      <!-- open set data order field  -->
                    <button onclick="myShow()" class="btn p-2 btn-outline-success btn-lg shadow" style="width:100%" ><b>Insert order data</b></button>
        
                </div>
            </div>
        </div>

    </div>
        
</div>
<hr class="shadow-lg" style="height:1px; background-color:blue;">


<div class="col p-1 shadow" id="in_data_row" style="display: none;text-align: center;">
    <form method="POST">
  
        <h3 >Order data</h3>
        <p style="font-size: .7em;">
        please enter details like: name "product", "name and surname to" date . :if is auth no data ---------- please rename the file with same name <br></p>
        {% for i in orders %}
        <div class="row p-1" >
            <div class="col-auto">
                
                <label for="order_data_field" style="font-size: .7em;"></label>
                <textarea
                    class="form-control border border-primary"
                    id="order_data_field"
                    name="order_data_field"
                    placeholder="Enter your order details..."
                    rows="2"
                    cols="40"
                    style="font-size: 1em;"
                ></textarea>
            </div>
            <div class="col-auto p-5">
                
                <input type="file" name="file_img" id="file_img" class="btn-primary"style="width:4.8em"><br>
                
            </div>
        </div>    
        {% else %}{% print('empty cart') %}
        {% endfor %}
       
        <div class="row  " id="email_d" style="display:none;">
            <div class="col-9" style="margin-top: 2em; margin-left: 8em;">
                <p >only this</p>
            </div>
            <div class="col-3 p-3" style="justify-content: left; margin-top: -4em; margin-left: 2em;">
                <label for="email"><p><b>Email</b></p></label>

                <input type="email" name="email" id="email" class="form-control-lg border border-primary" >
            </div>
                

        </div>
        <div class="card border-success mb-3 p-4 dt" id="pay_data" style="display: none;">
         
            <!--    random num ord-->
            <h4 class="card-title">num ord</h4>
            <textarea name="ord_num" id="ord_num" cols="22" class="form-control-lg border border-primary" readonly>{% print(ord_num) %}</textarea>
            <!--    random num wallet-->
            <h3>wallet</h3>
            <textarea name="ord_wll" id="ord_wll" cols="22" class="form-control-lg border border-primary" readonly>wallet</textarea>
        </div>
        <input type="submit" name="submit" id="submit" value="Submit order" class="btn p-3 btn-outline-success btn-lg shadow" style="display: none;">
    </form>
    <div class="row p-3" style="justify-content: center;">
        <button  onclick="myEmail()"  id="email_btn" class="btn p-3 btn-outline-success btn-lg shadow" style="display:none;" >Next</button>
        <button value="Payment mode" onclick="myPay()" id="pay_btn" class="btn p-3 btn-outline-success btn-lg shadow" style="display: none;">Payment</button>
    </div>
</div>
<br><br><br> 
<div id="product_list_div" name="product_list" class="row p-3" style="display: none;">

{% for i in user_products %}

    <div class="row p-2">
        <div class="col shadow">
            
            
            <img src="{{ url_for('static', filename='images/' + i.photo) }}" style="width: 25vw;height: 12.5em;"/> 
        </div>
        <div class="card-body p-2 font" style="height: 12.5rem;background-color:slategray;color:lightgray;width:30vw">
            <h4>Article name: {{ i.name }}</h4>
            <em>this is the description of this article. All about how its work<br>{{ i.description }}</em>
                <br><p>date of pubblication:{{ i.date_posted.strftime('%Y -%h -%d') }}</p><em>Cost {{ i.price }}$ </em>
        </div>
        
    </div><br>
{% else %}
    <h4 class="font">No products to show</h4>
{% endfor %}
</div>



<script type="text/javascript" src="{{ url_for('static', filename='show.js')}}">     
</script>
{% endblock %}




