{% extends "home.html" %} {% block title %}Your order{% endblock %}
{% block order %}
<div class="row text-center fs-4">
    <h1>Order page</h1>
</div>
<div class="row p-3">
   
    <div class="col p-1">
        <div class="row t-zoom shadow tb p-1 m-0" style="border-radius: 10% solid red 2px;">
   

            {% for i in user_orders %}
            
            <div class="row  m-1 td-zoom btn-lg p-4  border border-success-subtle bg-success bg-opacity-10"  data-bs-toggle="offcanvas" data-bs-target="#{{i.id}}orderDeta-id"aria-controls="offcanvasBottom">{{ loop.index }}

            </div>
            
            <div class="offcanvas offcanvas-bottom bg-base" style="height:80vh;" tabindex="-1" id="{{i.id}}orderDeta-id" aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small">
                    {{i.id}}
                </div>
            </div>
        

            {% endfor %}


        </div>
        
    </div>
   
    

</div>



{% endblock %}