{% extends "index.html" %} {% block title %}Shop{% endblock %} {% block content
    %}
<div class=" hstack gap-5 px-5 text-center">
  <h1 class="position-absolute start-50">Shop</h1><br>
</div>

<div class="row p-2 form-group">
  <form method="POST" class="p-4 row">
    <div class="col">
      <select name="country_value" id="country_value" class="form-control border border-primary" style="width: 20vw;">
        <option value="" selected disabled hidden>Choose country</option>
        {% for i in country.values() %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <select name="category_value" id="category_value"  class="form-control border border-primary" style="width: 20vw;">
        <option value="" selected disabled hidden>Choose category</option>
        {% for i in category %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <input type="submit" name="filter" value="Filter" class="btn btn-primary">
    </div>
  </form>
</div>
<div class="row p-3">
  {% for i in prod %}
  <div class="col" style="margin-bottom: 2em;;">
    <div class="card shadow" style="width: 15rem;">
      <div id="carouselExample{{i.id}}" class="carousel slide">
        <div class="carousel-inner">
            {% for p in i.photo %}
            <div class="carousel-item active">
                
              <img srcset="{{ url_for('static', filename='images/' + i.seller.id|string + '/products_photo/' + p) }}"
               style="height:10em;width: 100%;"/> 
            
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{i.id}}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{i.id}}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
      <div class="card-body p-0 ps-2" style="height:8rem;background-color:slategray;color:lightgray;">
        <div class="row">
          <div class="col-9">
            <h3>Article {{ i.name[:22] }}</h3>
          </div>
          <div class="col p-2">
            <button class="btn btn-outline-primary p-0 shadow" style="border-radius: 50%;">
              <a href="/seller/{{ i.seller.username }}">
                <img src="{{ url_for('static', filename='images/'+ i.seller.id|string + '/' + i.seller.photo_user )}}"alt="error loading user image" onerror="this.src='static/images/seller.png'" style="width:2.5vw;height: 7vh;border-radius:50%;margin-top: -.25em;"></img>
              </a>
            </button>
          </div>
        </div><br>
        <div class="row p-0" style="margin-top:-2em;" >
          <p>Cost {{ i.price }}$ </p><br>
          <div class="p-0 ms-1 ps-2 mt-0" >
            <form method="POST" style="width:100%;">
              <div class="hstack gap-3 ms-2">
                
                <input type="number" name="qnt" id="qnt" min="1" class="border border-primary shadow p-3 mb-4 bg-body-tertiary rounded" style="font-size:.8em; width:3em; height:1.3em;">
                <input type="hidden" name="code" value="{{ i.id }}">
              
                <input type="submit" name="buy_now" class="btn btn-success btn-md shadow font p-1 mb-4" value="Buy now!" style="height: 2em;">
              
              </div>
            </form>
          </div>
        </div><br>
        
      </div>
    </div>
  </div>
  {% else %}
    <h4 class="font" style="text-align: center;">No product's found</h4>
  {% endfor %}
  

</div>

{% endblock %}