{% extends "index.html" %} {% block title %}Shop{% endblock %} {% block content
    %}
<div class="row">
  <div class="col">
    <h1 align="center">Shop</h1><br>
  </div>


</div>
<div class="row p-2 form-group">
  <form method="POST" class="p-4 row">
    <div class="col">
      <select name="country_value" id="country_value" class="form-control border border-primary" style="width: 20vw;">
        <option value="" selected disabled hidden>Choose here</option>
        {% for i in country.values() %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <select name="category_value" id="category_value"  class="form-control border border-primary" style="width: 10vw;">
        <option value="" selected disabled hidden>Choose here</option>
        {% for i in category %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <input type="submit" name="filter" value="Filter" class="btn btn-primary">
    </div>
  </form>
</div>
<div class="row p-3">
  {% for i in prod %}
  <div class="col" style="margin-bottom: 2em;;">
    <div class="card shadow" style="width: 18rem;">
      
      <img src="{{ url_for('static', filename='images/' + i.photo) }}" style="width: 100%;height: 8.5em;"/>
      <div class="card-body p-1" style="height: 11rem;background-color:slategray;color:lightgray;">
        <h3>Article {{ i.name }}</h3>
        <div style="margin-top: -1em;">
          <em style="font-size: .75em;">Description of this article:<br>{{ i.description[:60] }}{{ i.seller.id }}</em><p>Cost {{ i.price }}$ </p>
        </div>
        <form method="POST" style="width:100%;">
          <div class="row" style="padding: 0;margin-left:.2em;margin-top: -1.3em;">
            <input type="number" name="qnt" id="qnt" min="1" class="border border-primary shadow p-3 mb-5 bg-body-tertiary rounded" style="font-size:1em; width:3.6em; height:2em; margin-right:2em;margin-top:.4em">
            <input type="hidden" name="product_code" value="{{ i.name }}">
            
            <div class="">
              <input type="submit" name="buyNow" class="btn btn-success btn-lg shadow p-1" value="Buy now!" style="height: 2em;text-align: center; width:100%">
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
    <h4 class="font" style="text-align: center;">No product's found</h4>
  {% endfor %}
  

</div>

{% endblock %}