<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
      crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}"/>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav  class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg sticky-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-base mt-2" id="navbar">
        <div class="navbar-nav" >
          <a class="nav-item nav-link " id="shop" href="/shop"><em><b class="text-primary">Shop</b></em></a>
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="logout" href="/logout"><em><b class="text-primary">Logout</b></em></a>
          <a class="nav-item nav-link " id="home" href="/home"><em><b class="text-primary">Home</b></em></a>
         {% else %}
          <a class="nav-item nav-link" id="login" href="/login"><em><b class="text-primary">Login</b></em></a>
          {% endif %}

        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    {% if user.is_authenticated %}
    <div class="offcanvas offcanvas-start bg-base"  tabindex="-1" id="userSetting" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        <div class="row p-2">
          <button onclick="show_cart()" class="h-o shadow btn p-2 btn btn-outline-info w-1"><b class="fw-bolder">Cart</b></button>     
        </div>
        <hr>
        <div class="row p-2">
          <a href="{{ url_for('utils.product') }}" class="h-o shadow btn p-2 btn btn-outline-success w-2"><b class="fw-bolder">Create Product</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('homeInfo.infoProduct') }}" class="h-o shadow btn p-2 btn btn-outline-info w-2"><b class="fw-bolder">Product</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('homeInfo.infoBuyed') }}" class="h-o shadow btn p-2 btn btn-outline-info w-2"><b class="fw-bolder">Buyed</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('homeInfo.infoSelled') }}" class="h-o shadow btn p-2 btn btn-outline-info w-2"><b class="fw-bolder">Selled</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('utils.getWallet') }}" class="h-o shadow btn p-2 btn btn-outline-warning w-2"><b class="fw-bolder">Get wallet</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('utils.bio') }}" class="h-o shadow btn p-2 btn btn-outline-warning w-2"><b class="fw-bolder">Write your bio</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('utils.contact') }}" class="h-o shadow btn p-2 btn btn-outline-warning w-2"><b class="fw-bolder">Add contact mode</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('utils.photo_user') }}" class="h-o shadow btn p-2 btn btn-outline-warning w-2"><b class="fw-bolder">Add photo user</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('utils.authenticate') }}" class="h-o shadow btn p-2 btn btn-outline-success w-2"><b class="fw-bolder">Authenticate</b></a>
        </div>
        <div class="row p-2">
          <a href="{{ url_for('change_log.changelog') }}" class="h-o shadow btn p-2 btn btn-outline-danger w-2"><b class="fw-bolder"> Change Password</b></a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-9 p-2"><br>
        {% block content %} {% endblock %}
      </div><br>


      <div id="news_vertical" class="col-3 container" style=" background-color:#2f2f2f;">
        
        
        <div id="news_f" class="row p-1 hgh3">
          <iframe src="https://www.jstor.org/stable/30078681">
          </iframe>
        </div>
        <div id="news_f" class="row p-1 hgh3">
          <iframe src="https://www.jstage.jst.go.jp/article/massspec1953/14/3/14_3_105/_article/-char/en" ">
          </iframe>
        </div>
        <div id="news_f" class="row p-1 hgh3">
          <iframe src="https://www.vettix.org" >
          </iframe>
        </div>
        
      </div>
    </div>
    
      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>

    
  </body>
</html>
